In [1]:
import pandas as pd
import numpy as np

In [2]:
books_df = pd.read_csv("Books.csv")
ratings_df = pd.read_csv("Ratings.csv")
users_df = pd.read_csv("Users.csv")

C:\Users\patil\AppData\Local\Temp\ipykernel_14444\1692637904.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("Books.csv")

In [3]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
books_df.shape, ratings_df.shape, users_df.shape

((271360, 8), (1149780, 3), (278858, 3))

In [7]:
books_df.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
ratings_df.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
users_df.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
books_df.duplicated().sum()

0

In [11]:
users_df.duplicated().sum()

0

In [12]:
ratings_df.duplicated().sum()

0

In [13]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
books_df[books_df["ISBN"]=='0155061224']['Image-URL-S']

225816    http://images.amazon.com/images/P/0155061224.0...
Name: Image-URL-S, dtype: object

In [15]:
# 276726

users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [16]:
users_df[users_df["User-ID"]==276726]

        User-ID                  Location  Age
276725   276726  seattle, washington, usa  NaN

In [17]:
ratings_df[ratings_df["User-ID"]==276726]

   User-ID        ISBN  Book-Rating
1   276726  0155061224            5

In [18]:
books_df["Book-Author"].value_counts()

Agatha Christie         632
William Shakespeare     567
Stephen King            524
Ann M. Martin           423
Carolyn Keene           373
                       ...
Linda Jackson             1
Artiste C. Arthur         1
Emily Pearl Kingsley      1
Jean Cassels              1
Christopher  Biffle       1
Name: Book-Author, Length: 102023, dtype: int64

In [19]:
books_df["Publisher"].value_counts()

Harlequin                  7535
Silhouette                 4220
Pocket                     3905
Ballantine Books           3783
Bantam Books               3646
                           ...
Hannover House                1
Amber Quill Press, LLC.       1
Lunchbox Press                1
Ugly Town                     1
Connaught                     1
Name: Publisher, Length: 16807, dtype: int64

In [20]:
isbn_agatha = list(books_df[books_df['Book-Author']=="Agatha Christie"]['ISBN'])

In [21]:
ratings_agatha = []
for isbn, ratings in zip(ratings_df['ISBN'], ratings_df['Book-Rating']):
    if isbn in isbn_agatha:
        ratings_agatha.append(ratings)

In [22]:
len(ratings_agatha)

2344

In [23]:
ratings_agatha[:5]

[9, 0, 0, 0, 7]

In [24]:
isbn_agatha[:5]

['0451200993', '0671555235', '0425173755', '0451199871', '067170463X']

In [25]:
ratings_df[ratings_df['ISBN']=='0451200993']

       User-ID        ISBN  Book-Rating
12918     1435  0451200993            0

In [26]:
ratings_df['Book-Rating'].value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: Book-Rating, dtype: int64

## Popularity based Recommender System

In [27]:
book_ratings_with_name = ratings_df.merge(books_df, on='ISBN')
book_ratings_with_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [28]:
number_of_ratings = book_ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
number_of_ratings
#reset_index() - converts the pandas series obtained fromt count into a dataframe

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [29]:
number_of_ratings[number_of_ratings['Book-Title']=='Flesh Tones: A Novel']

                 Book-Title  Book-Rating
67829  Flesh Tones: A Novel           60

In [30]:
number_of_ratings.rename(columns={'Book-Rating':'Number of ratings'}, inplace=True)

In [31]:
number_of_ratings

                                               Book-Title  Number of ratings
0        A Light in the Storm: The Civil War Diary of ...                  4
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Ask Lily (Young Women of Faith: Lily Series, ...                  1
4        Beyond IBM: Leadership Marketing and Finance ...                  1
...                                                   ...                ...
241066                                      Ã?Â?lpiraten.                  2
241067                     Ã?Â?rger mit Produkt X. Roman.                  4
241068                                Ã?Â?sterlich leben.                  1
241069                              Ã?Â?stlich der Berge.                  3
241070                                  Ã?Â?thique en toc                  2

[241071 rows x 2 columns]

In [32]:
avg_of_ratings = book_ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_of_ratings.rename(columns={'Book-Rating':'Avg of ratings'}, inplace=True)
avg_of_ratings

                                               Book-Title  Avg of ratings
0        A Light in the Storm: The Civil War Diary of ...        2.250000
1                                   Always Have Popsicles        0.000000
2                    Apple Magic (The Collector's series)        0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...        8.000000
4        Beyond IBM: Leadership Marketing and Finance ...        0.000000
...                                                   ...             ...
241066                                      Ã?Â?lpiraten.        0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.        5.250000
241068                                Ã?Â?sterlich leben.        7.000000
241069                              Ã?Â?stlich der Berge.        2.666667
241070                                  Ã?Â?thique en toc        4.000000

[241071 rows x 2 columns]

In [33]:
popularity_df = number_of_ratings.merge(avg_of_ratings, on='Book-Title')

In [34]:
popularity_df

,Book-Title,Number of ratings,Avg of ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [35]:
popularity_df = popularity_df[popularity_df['Number of ratings']>=250].sort_values('Avg of ratings', ascending=False).head(50)

In [36]:
popularity_df

,Book-Title,Number of ratings,Avg of ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [37]:
top50 = popularity_df.merge(books_df, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Publisher', 'Image-URL-S', 'Number of ratings', 'Avg of ratings']]

In [38]:
top50

,Book-Title,Book-Author,Publisher,Image-URL-S,Number of ratings,Avg of ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,Del Rey,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
39,To Kill a Mockingbird,Harper Lee,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
47,The Da Vinci Code,Dan Brown,Doubleday,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
53,The Five People You Meet in Heaven,Mitch Albom,Hyperion,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
55,The Catcher in the Rye,J.D. Salinger,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,449,4.545657
62,The Lovely Bones: A Novel,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
63,1984,George Orwell,Signet Book,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
72,Prodigal Summer: A Novel,Barbara Kingsolver,Perennial,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
73,Neverwhere,Neil Gaiman,Avon,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
78,The Secret Life of Bees,Sue Monk Kidd,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,Regan Books,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,Doubleday,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
88,The Red Tent (Bestselling Backlist),Anita Diamant,Picador USA,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Pocket,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,Owl Books,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
100,Into the Wild,Jon Krakauer,Anchor,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
103,Fahrenheit 451,Ray Bradbury,Distribooks Inc,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
116,Girl with a Pearl Earring,Tracy Chevalier,Plume Books,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
117,Outlander,DIANA GABALDON,Dell,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,Warner Books,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,Ballantine Books,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
126,Life of Pi,Yann Martel,Harcourt,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
130,The Bean Trees,Barbara Kingsolver,Perennial,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,Health Communications,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
135,ANGELA'S ASHES,Frank McCourt,Scribner,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
137,Good in Bed,Jennifer Weiner,Washington Square Press,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,Perennial,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
140,American Gods,Neil Gaiman,HarperTorch,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
141,Skipping Christmas,JOHN GRISHAM,Doubleday,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,Tyndale House Publishers,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,Knopf Books for Young Readers,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
157,The Color Purple,Alice Walker,Pocket Books,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
163,Silence of the Lambs,Thomas Harris,St. Martin's Press,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
166,About a Boy,Nick Hornby,Riverhead Books,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,St. Martin's Press,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,HarperSanFrancisco,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,St. Martin's Paperbacks,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
182,Suzanne's Diary for Nicholas,James Patterson,"Little, Brown",http://images.amazon.com/images/P/0316969443.0...,457,3.820569
186,Lord of the Flies,William Gerald Golding,Perigee Trade,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
192,A Prayer for Owen Meany,John Irving,Ballantine Books,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,Ballantine Books,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,Back Bay Books,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

## Collaborative based Recommender System

In [39]:
#getting users who have given at least 150 ratings
temp = book_ratings_with_name.groupby('User-ID').count()['Book-Rating']>=150
useful_users = temp[temp].index #boolean indexing. consists of index of users who have given more than 150 reviews

In [40]:
useeful_ratings = book_ratings_with_name[book_ratings_with_name['User-ID'].isin(useful_users)]

In [41]:
t = useeful_ratings.groupby('Book-Title').count()['Book-Rating']>=60
famous_books = t[t].index

In [42]:
final_ratings = useeful_ratings[useeful_ratings['Book-Title'].isin(famous_books)]

In [43]:
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
67,8253,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030363,274808,0449701913,0,Homecoming,Cynthia Voigt,1983,Fawcett Books,http://images.amazon.com/images/P/0449701913.0...,http://images.amazon.com/images/P/0449701913.0...,http://images.amazon.com/images/P/0449701913.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [44]:
final_df = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [45]:
final_df.fillna(0, inplace=True)

In [46]:
final_df

User-ID,254,1733,1903,2033,2110,2276,2766,2891,2977,3363,...,274301,274308,274808,275970,276680,277427,277478,277639,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity = cosine_similarity(final_df)
similarity

array([[1.        , 0.07880156, 0.00974903, ..., 0.09658948, 0.06448266,
        0.03549567],
       [0.07880156, 1.        , 0.24917147, ..., 0.05925191, 0.14686965,
        0.14179475],
       [0.00974903, 0.24917147, 1.        , ..., 0.03769791, 0.04493654,
        0.09205667],
       ...,
       [0.09658948, 0.05925191, 0.03769791, ..., 1.        , 0.06439035,
        0.01670749],
       [0.06448266, 0.14686965, 0.04493654, ..., 0.06439035, 1.        ,
        0.09936127],
       [0.03549567, 0.14179475, 0.09205667, ..., 0.01670749, 0.09936127,
        1.        ]])

In [49]:
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)

[(0, 1.0),
 (44, 0.2231165612580781),
 (266, 0.2221767355652058),
 (475, 0.2204104698524294),
 (437, 0.20308516940811333),
 (74, 0.20184379038872902),
 (299, 0.19398052346571132),
 (559, 0.18465287508934528),
 (154, 0.18141068327504306),
 (274, 0.17244184925190828),
 (481, 0.17120961750999758),
 (476, 0.1704273088715783),
 (455, 0.16866268540105878),
 (525, 0.1611807891664178),
 (56, 0.15836827269929524),
 (482, 0.156588095260757),
 (460, 0.15597979836634),
 (308, 0.1555134528209616),
 (551, 0.1554703252743706),
 (474, 0.15410014269577668),
 (549, 0.15301701111794225),
 (484, 0.15105307782037644),
 (428, 0.14940552186500217),
 (516, 0.1493070741309704),
 (471, 0.14826005126310893),
 (571, 0.14808155867763215),
 (447, 0.14482265107614978),
 (102, 0.14210408903989108),
 (316, 0.139721298664438),
 (354, 0.13532816729394903),
 (231, 0.13526684674897127),
 (192, 0.1336061437121694),
 (587, 0.13215298559339644),
 (567, 0.13201722256759627),
 (218, 0.13183627838726672),
 (518, 0.1318323702076452),
 (236, 0.13169278309575874),
 (131, 0.12918261289885602),
 (185, 0.12916558089555427),
 (417, 0.12803341132125062),
 (173, 0.12799809938340642),
 (289, 0.12712001509441667),
 (563, 0.12672641076077118),
 (323, 0.12422906086711474),
 (498, 0.1240012889302102),
 (103, 0.1221770552973232),
 (344, 0.12209758452614898),
 (150, 0.12087637336065105),
 (135, 0.12052052881002805),
 (505, 0.12040971961095946),
 (324, 0.12036880534347193),
 (480, 0.11948590113867591),
 (580, 0.11928754363777107),
 (129, 0.11878877645656191),
 (146, 0.11867867330747807),
 (83, 0.11629877572989719),
 (197, 0.11605430584154316),
 (415, 0.11600855523950059),
 (512, 0.11581586238202171),
 (252, 0.11579813720060413),
 (165, 0.11373685268747273),
 (488, 0.11349373562782841),
 (448, 0.1130258446416317),
 (366, 0.11253521873707023),
 (285, 0.11241915999382615),
 (594, 0.11226210911754453),
 (63, 0.11095578541396306),
 (355, 0.11079674481607336),
 (170, 0.11017886964526344),
 (47, 0.1100439806406261),
 (278, 0.11003307236959108),
 (263, 0.11000489304843489),
 (67, 0.10933631805640862),
 (25, 0.109243332818516),
 (572, 0.10913561965696864),
 (561, 0.10889532531610732),
 (467, 0.10737740145356015),
 (7, 0.10700252009413393),
 (187, 0.1068191836662759),
 (214, 0.10632967835600535),
 (377, 0.10624956432203618),
 (492, 0.1057587420060579),
 (225, 0.10565679289040963),
 (177, 0.10536507081755012),
 (163, 0.10520922749932707),
 (61, 0.10511700604823102),
 (216, 0.10455989038285615),
 (601, 0.10425473893520246),
 (356, 0.1041319901054218),
 (260, 0.10346223567000898),
 (19, 0.10315355628284166),
 (381, 0.10277274724611132),
 (421, 0.10230176687452033),
 (281, 0.10169880559097391),
 (382, 0.1016362917231834),
 (335, 0.10089726967232651),
 (533, 0.10084892864557839),
 (246, 0.1001191848719011),
 (333, 0.1000240603013349),
 (27, 0.09984128494844555),
 (581, 0.0984242176148353),
 (34, 0.09818982100957124),
 (565, 0.09756699844987726),
 (261, 0.09729439089127169),
 (622, 0.09658947698087199),
 (429, 0.09647391188499319),
 (618, 0.09614561664757176),
 (368, 0.09597809535975033),
 (269, 0.09571331323664714),
 (380, 0.09562057764864959),
 (77, 0.09541127207468307),
 (133, 0.09468763454628333),
 (17, 0.0946039288545577),
 (195, 0.09323818996717496),
 (78, 0.09312145612687096),
 (42, 0.09294781155907753),
 (176, 0.09278956233279782),
 (487, 0.09223995332539162),
 (38, 0.0921459495543933),
 (14, 0.09204131215852149),
 (443, 0.09198452537229503),
 (406, 0.0910611676845208),
 (531, 0.09033949573599034),
 (433, 0.0902469249368946),
 (543, 0.09011725532017523),
 (301, 0.08979340580050812),
 (71, 0.0897360176050764),
 (458, 0.08883874805118519),
 (207, 0.08876893154055823),
 (556, 0.08842400647962902),
 (426, 0.08796890241659519),
 (620, 0.08772346180124063),
 (312, 0.08698563032330804),
 (134, 0.08687174897076097),
 (507, 0.08653934912608124),
 (539, 0.08651341632558081),
 (101, 0.08631255258376012),
 (121, 0.08629886019292493),
 (411, 0.08589382124038704),
 (553, 0.08543596661897732),
 (403, 0.08507095257748226),
 (46, 0.08501179293585537),
 (76, 0.08499350960279294),
 (156, 0.08489314756904098),
 (367, 0.08423302564516486),
 (401, 0.0838339833132417),
 (331, 0.08382626133368648),
 (282, 0.0836302425341982),
 (349, 0.08318600634286949),
 (451, 0.0830653871414709),
 (167, 0.0829207348328422),
 (224, 0.08236361384219153),
 (462, 0.0820439929665416),
 (472, 0.08187409872334175),
 (449, 0.0814749324982654),
 (212, 0.08112997859860263),
 (279, 0.08084487352339004),
 (189, 0.08080861334136133),
 (569, 0.08075756373468529),
 (45, 0.08057618175008484),
 (538, 0.079854438714705),
 (229, 0.07976530030591833),
 (1, 0.07880155827456792),
 (542, 0.07872739724477919),
 (168, 0.07819075201120833),
 (347, 0.07811228321319649),
 (547, 0.07797302440721769),
 (592, 0.07795536322718012),
 (450, 0.07777818749004753),
 (554, 0.07769836202606634),
 (375, 0.07743447286508404),
 (264, 0.07742872325141363),
 (182, 0.0770449341831849),
 (374, 0.07681148099072324),
 (590, 0.07631876631903724),
 (603, 0.07622458697096765),
 (327, 0.07610053918878344),
 (503, 0.07600191337687241),
 (302, 0.07573021722077447),
 (586, 0.0754971187292584),
 (313, 0.07464413040002077),
 (12, 0.07453358953013732),
 (315, 0.07429137188869381),
 (510, 0.0740576197895462),
 (383, 0.07358425811330119),
 (54, 0.07312260889270197),
 (137, 0.07304216088203447),
 (370, 0.07297723155372349),
 (407, 0.0726889520451833),
 (55, 0.07265924071043053),
 (552, 0.07263956882023204),
 (470, 0.07251701298722836),
 (147, 0.07187166573609768),
 (171, 0.07162116868768799),
 (605, 0.07147116446422015),
 (188, 0.07090668306347907),
 (573, 0.07086999696094459),
 (94, 0.0706814270373467),
 (209, 0.07017331958718821),
 (22, 0.0701338735669039),
 (372, 0.07008422223614508),
 (499, 0.0695748031844389),
 (186, 0.06922774635408283),
 (213, 0.06898401934956072),
 (199, 0.06890547685709225),
 (40, 0.06856192943288733),
 (13, 0.06816231526144201),
 (79, 0.06811112502928052),
 (362, 0.06803204586004188),
 (314, 0.06743559941928022),
 (284, 0.06716109902080024),
 (175, 0.0670204542273532),
 (453, 0.0665993755522386),
 (490, 0.06618017102771426),
 (157, 0.06578129917704276),
 (608, 0.0655656705236934),
 (532, 0.06546588143503422),
 (521, 0.06538510841848268),
 (31, 0.06507860599988184),
 (232, 0.06503983075406639),
 (558, 0.06469092889525183),
 (420, 0.06468952949922152),
 (623, 0.06448266413230717),
 (385, 0.06437233774577047),
 (37, 0.06433988980351696),
 (307, 0.0642696035924676),
 (466, 0.06384852683586374),
 (115, 0.063704824339056),
 (267, 0.06363830165162265),
 (413, 0.06272469593569797),
 (217, 0.06238482704572763),
 (557, 0.06236873840201869),
 (602, 0.06220057913902853),
 (6, 0.06215143707459538),
 (142, 0.06185906010355111),
 (20, 0.061798030206820814),
 (496, 0.06174220744693219),
 (609, 0.06171620370341251),
 (41, 0.061680324816648494),
 (98, 0.06167346209506301),
 (468, 0.060931972157092125),
 (515, 0.060860384423960474),
 (441, 0.06085376939035376),
 (259, 0.06077762417630661),
 (404, 0.06073179150603934),
 (159, 0.060222429885841575),
 (611, 0.060199566653384315),
 (194, 0.06016446331122166),
 (241, 0.06014083857617816),
 (524, 0.059981969533972376),
 (237, 0.05973966975110023),
 (26, 0.059464128461485785),
 (423, 0.05917560704938417),
 (459, 0.05913356251174741),
 (522, 0.058703890970594634),
 (48, 0.05838643593351785),
 (105, 0.05835245442489951),
 (479, 0.05811245969625081),
 (345, 0.05724991873376048),
 (208, 0.057240925489972144),
 (400, 0.057198322997268826),
 (588, 0.057114979920802285),
 (379, 0.05688734581969972),
 (249, 0.05660946869637254),
 (10, 0.05650021312933951),
 (326, 0.056492974322124176),
 (494, 0.056320888386705716),
 (198, 0.05619698323049866),
 (364, 0.0559210257309181),
 (70, 0.05577910862848267),
 (343, 0.05571881400249135),
 (585, 0.055632821054053615),
 (511, 0.05506167177627891),
 (196, 0.054729354405969086),
 (107, 0.05450131844253255),
 (205, 0.0544336636920314),
 (64, 0.05429735124414971),
 (28, 0.054090057308162805),
 (258, 0.054043918388397706),
 (465, 0.053954455552905387),
 (544, 0.053905764731305206),
 (95, 0.05387296027921055),
 (169, 0.05351907028824507),
 (277, 0.05347733863368279),
 (389, 0.053444195817546544),
 (387, 0.05313888889793726),
 (183, 0.0531306428361855),
 (24, 0.05297032139569775),
 (619, 0.052863999121574544),
 (251, 0.052791414747571104),
 (430, 0.05249158872612639),
 (337, 0.05243001031221345),
 (309, 0.05224014709132444),
 (233, 0.051831603467005036),
 (461, 0.05068478035126541),
 (304, 0.05032841845666167),
 (425, 0.05026565255822505),
 (591, 0.050123186372576914),
 (523, 0.04998807875680292),
 (452, 0.04990350044474532),
 (334, 0.04940192034554472),
 (21, 0.04937335606426358),
 (81, 0.049316671066589726),
 (109, 0.04910266600299089),
 (92, 0.04900334725778685),
 (431, 0.04897301732921243),
 (410, 0.048469348248412654),
 (226, 0.04835844677293294),
 (85, 0.04830523227729853),
 (91, 0.0478792722562913),
 (162, 0.047674552496675494),
 (520, 0.04750953402416304),
 (576, 0.047315290073029155),
 (128, 0.04717892963140879),
 (204, 0.04710876640368196),
 (477, 0.04703312921283522),
 (178, 0.046792205410264555),
 (595, 0.046765964274258),
 (408, 0.04632611971939997),
 (106, 0.04597507878092639),
 (303, 0.04557823714117684),
 (104, 0.04520114830934358),
 (43, 0.045136775177852896),
 (179, 0.04507624720111817),
 (339, 0.0445876811719815),
 (535, 0.04458450474941873),
 (438, 0.04446411827676782),
 (52, 0.04444016486441031),
 (319, 0.04442061713408903),
 (39, 0.04437302293307289),
 (371, 0.044308610169048177),
 (418, 0.04380727275038871),
 (508, 0.04367729806941991),
 (528, 0.04354603895263252),
 (424, 0.04348128972883163),
 (570, 0.043345563869628206),
 (384, 0.04307190107917519),
 (4, 0.04279595475957975),
 (399, 0.04264558257190245),
 (486, 0.042295311002977704),
 (238, 0.04211680687901352),
 (416, 0.0420966619614127),
 (442, 0.041854497531362986),
 (153, 0.04166812460130065),
 (15, 0.04138952735991749),
 (219, 0.04119741638613159),
 (321, 0.041163081707801794),
 (174, 0.041103059005863425),
 (427, 0.04101587163108542),
 (550, 0.0407922931710776),
 (222, 0.04056460292200347),
 (111, 0.0401214232942458),
 (615, 0.04002132578942762),
 (395, 0.03957433728365057),
 (529, 0.03913530067796703),
 (112, 0.0387540547462906),
 (93, 0.03853488200443076),
 (537, 0.038365988789718135),
 (353, 0.03820294435126922),
 (562, 0.03789837767671781),
 (386, 0.037602627577991495),
 (90, 0.03754313711454849),
 (392, 0.03719160334466849),
 (579, 0.03706720347631888),
 (32, 0.03698858789794267),
 (184, 0.03673707604088361),
 (255, 0.03663383206680214),
 (504, 0.036609207736836576),
 (139, 0.036260381382521654),
 (434, 0.035928632972162235),
 (439, 0.035633012967297664),
 (624, 0.035495672489844074),
 (49, 0.03487149687760056),
 (69, 0.03424069502716893),
 (273, 0.0341542587538554),
 (514, 0.034055745030693446),
 (509, 0.033539000363623166),
 (108, 0.033102305926365705),
 (60, 0.03285176660712729),
 (478, 0.03260901716395968),
 (161, 0.032031482379628766),
 (151, 0.031978344271279775),
 (193, 0.03165388249625109),
 (141, 0.03134452866324778),
 (607, 0.030966538870842247),
 (574, 0.030140947118474436),
 (180, 0.029985364458421204),
 (116, 0.029526069335767284),
 (191, 0.029451430907501814),
 (8, 0.02936736618855212),
 (158, 0.029020892486266225),
 (614, 0.028210484486158063),
 (230, 0.027530951147529133),
 (283, 0.026967397832872216),
 (72, 0.026616788273474367),
 (495, 0.026596306738133586),
 (234, 0.026219816899842763),
 (369, 0.02477242414570549),
 (59, 0.023991693402463637),
 (243, 0.02396157199271761),
 (294, 0.023777685268267932),
 (577, 0.023752224627848616),
 (120, 0.023366721403411658),
 (583, 0.02266715562137635),
 (329, 0.022573884508339286),
 (16, 0.022096216914886425),
 (132, 0.021737674915691754),
 (310, 0.021733947285566487),
 (110, 0.021674469419569325),
 (566, 0.021595070800925452),
 (256, 0.021509613121806062),
 (5, 0.021498085828640278),
 (271, 0.021233004216822234),
 (148, 0.02121896576970536),
 (245, 0.021186469429712834),
 (172, 0.02106262038613173),
 (68, 0.020932417744904928),
 (491, 0.020741561899995237),
 (612, 0.020641550976506166),
 (125, 0.020603219372441903),
 (575, 0.020593551978593506),
 (9, 0.02038167610015175),
 (202, 0.020347472376260046),
 (578, 0.020339090919823326),
 (248, 0.02021039847450648),
 (440, 0.02002351479442994),
 (87, 0.019992419934751572),
 (445, 0.019682196184351297),
 (36, 0.01957887685557556),
 (464, 0.019380294666558204),
 (340, 0.019359165614204185),
 (119, 0.019052596395850184),
 (275, 0.019044147156665078),
 (497, 0.01897455903862328),
 (365, 0.01876172607879925),
 (288, 0.01865572677811757),
 (540, 0.018603396445643464),
 (360, 0.018601225560935027),
 (293, 0.018494140892956663),
 (221, 0.018493384974421417),
 (388, 0.018417970685407802),
 (456, 0.018293849663630967),
 (124, 0.018224468831221387),
 (322, 0.018072552711937504),
 (526, 0.017987710523118285),
 (318, 0.0179063908394084),
 (489, 0.017902519605801512),
 (201, 0.01784662826234645),
 (342, 0.017675400140975208),
 (357, 0.01742994180801573),
 (96, 0.017418882433068366),
 (203, 0.0174120116595764),
 (463, 0.01729589771277607),
 (244, 0.01722670752263676),
 (546, 0.01719954098692504),
 (97, 0.017164899378773118),
 (534, 0.017030270638380283),
 (584, 0.016833950724582034),
 (223, 0.016789071565230476),
 (210, 0.01670885576203121),
 (88, 0.016603147384392825),
 (446, 0.01654541422196077),
 (597, 0.016536352396127527),
 (358, 0.016380977982269222),
 (11, 0.0162840533533597),
 (306, 0.0161223080061554),
 (253, 0.016032614358851525),
 (435, 0.016018734506575368),
 (50, 0.015899196945855003),
 (127, 0.01574076067353407),
 (483, 0.015652100881348066),
 (86, 0.015610699706150914),
 (296, 0.015603164675082671),
 (536, 0.015603164675082671),
 (240, 0.015589813890635506),
 (311, 0.015588577777645071),
 (166, 0.015359137975146932),
 (502, 0.015315400066443214),
 (548, 0.015295371927452854),
 (390, 0.015269157810934814),
 (35, 0.01525383655701524),
 (262, 0.015227646235214748),
 (599, 0.015194717918405445),
 (144, 0.01518296583945818),
 (320, 0.015060959643447752),
 (130, 0.015051118755376553),
 (378, 0.014676318983331132),
 (351, 0.014537335559194078),
 (473, 0.014530489627305515),
 (99, 0.014473564266348531),
 (227, 0.014454318582695792),
 (276, 0.014442783469409026),
 (286, 0.014285929532925918),
 (402, 0.014234769683339147),
 (527, 0.014202053552557619),
 (545, 0.01416697226336022),
 (568, 0.014150017518133409),
 (363, 0.01398172636014394),
 (517, 0.013979446616849522),
 (206, 0.01378483282192098),
 (332, 0.013685884096256951),
 (280, 0.013476667010275781),
 (621, 0.013432607619617495),
 (114, 0.013321307824336284),
 (123, 0.01312833906421277),
 (220, 0.013003692815360153),
 (444, 0.012985932243244657),
 (200, 0.012940157113761007),
 (613, 0.012880155115680369),
 (33, 0.012841417719333082),
 (257, 0.01280373554418689),
 (300, 0.012565000121938542),
 (348, 0.01244627010406217),
 (239, 0.012431078270107964),
 (100, 0.012177173846774834),
 (287, 0.011988309253612828),
 (155, 0.011950681743616179),
 (330, 0.011945912296333615),
 (145, 0.011905270502456718),
 (582, 0.011788985210380529),
 (136, 0.01166509005389701),
 (506, 0.011663166447124246),
 (29, 0.011046605211166788),
 (485, 0.010977702580143208),
 (58, 0.010152032094684346),
 (143, 0.01013429484797464),
 (140, 0.009856542636931165),
 (73, 0.009792515093861686),
 (2, 0.009749028828063734),
 (469, 0.009355708410219472),
 (396, 0.009352801764927655),
 (560, 0.009311484336230894),
 (254, 0.009194868285542925),
 (160, 0.009098304129966463),
 (589, 0.008975740731061908),
 (297, 0.00892255503864875),
 (359, 0.008873228476807552),
 (84, 0.008848901553782403),
 (555, 0.008806806642367302),
 (270, 0.008686900973944173),
 (113, 0.008542032648542267),
 (617, 0.008501581759499315),
 (616, 0.008380159480054758),
 (215, 0.008335576941996537),
 (361, 0.007811129453906688),
 (298, 0.007684616670155954),
 (493, 0.007683804754115773),
 (292, 0.007266385264929487),
 (593, 0.007070681640538759),
 (242, 0.0069864865759944675),
 (373, 0.006965856489461238),
 (341, 0.0069014661677123685),
 (80, 0.006262653893769337),
 (138, 0.006253908692933083),
 (604, 0.006065658005742353),
 (53, 0.004628267258480591),
 (422, 0.004407035850615056),
 (405, 0.0030308248638946447),
 (541, 0.001182419176411776),
 (3, 0.0),
 (18, 0.0),
 (23, 0.0),
 (30, 0.0),
 (51, 0.0),
 (57, 0.0),
 (62, 0.0),
 (65, 0.0),
 (66, 0.0),
 (75, 0.0),
 (82, 0.0),
 (89, 0.0),
 (117, 0.0),
 (118, 0.0),
 (122, 0.0),
 (126, 0.0),
 (149, 0.0),
 (152, 0.0),
 (164, 0.0),
 (181, 0.0),
 (190, 0.0),
 (211, 0.0),
 (228, 0.0),
 (235, 0.0),
 (247, 0.0),
 (250, 0.0),
 (265, 0.0),
 (268, 0.0),
 (272, 0.0),
 (290, 0.0),
 (291, 0.0),
 (295, 0.0),
 (305, 0.0),
 (317, 0.0),
 (325, 0.0),
 (328, 0.0),
 (336, 0.0),
 (338, 0.0),
 (346, 0.0),
 (350, 0.0),
 (352, 0.0),
 (376, 0.0),
 (391, 0.0),
 (393, 0.0),
 (394, 0.0),
 (397, 0.0),
 (398, 0.0),
 (409, 0.0),
 (412, 0.0),
 (414, 0.0),
 (419, 0.0),
 (432, 0.0),
 (436, 0.0),
 (454, 0.0),
 (457, 0.0),
 (500, 0.0),
 (501, 0.0),
 (513, 0.0),
 (519, 0.0),
 (530, 0.0),
 (564, 0.0),
 (596, 0.0),
 (598, 0.0),
 (600, 0.0),
 (606, 0.0),
 (610, 0.0)]

In [50]:
def recommend(book_name):
    index = np.where(final_df.index==book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity[index])), key=lambda x: x[1], reverse=True)[1:6]
    
    data = []
    for book in similar_books:
        item = []
        temp_df = books_df[books_df["Book-Title"]==final_df.index[book[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        data.append(item)
    
    return data

In [51]:
recommend('Harry Potter and the Prisoner of Azkaban (Book 3)')

[['Harry Potter and the Goblet of Fire (Book 4)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Chamber of Secrets (Book 2)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Book 1)",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Order of the Phoenix (Book 5)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg']]

In [52]:
# import pickle  
# pickle.dump(final_df, open("book_similarity.pkl",'wb'))

In [53]:
# pickle.dump(top50, open("top50.pkl",'wb'))

In [54]:
# pickle.dump(final_df, open("final_df.pkl",'wb'))
# pickle.dump(books_df, open("books_df.pkl",'wb'))

In [55]:
import pickle 
pickle.dump(similarity, open("similarity_scores.pkl", 'wb'))

In [56]:
book_title = list(final_df.index)

In [57]:
pickle.dump(book_title, open("list_of_books.pkl", 'wb'))